body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
    font-size: 100%;
    align-content: center;
    text-align: center;
}

 h1 {

 }


 h3 {

 }
 h5 {

 }
 img {
    max-height: 400px;
}

 }
 p {

 }

 footer {

 }